test/mule-4.2.2/test-app/src/main/mule/test-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_config" >
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <flow name="test-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/"/>
        <http:request method="GET" url="https://postman-echo.com/get" doc:name="Request"/>
        <logger level="INFO" doc:name="Logger" message="#[message]"/>
    </flow>

</mule>